{{ define "main" }}
<div class="container" role="main">
  <h1>{{ .Title }}</h1>

  {{ if .Params.version }}
  {{ readFile (printf "%s%s%s%s" .File.Dir "sources/source-" .File.TranslationBaseName ".html") | safeHTML }}
  {{ end }}

  {{ .Content }}

</div>
{{ end }}
