@charset "utf-8";

.pointers {
    display: block;
    position: relative;
    left: 45%;
    top: 2em;
    width: 50px
}

.hello::before {
    content: ' Hello ';
    font-size: 6rem;
    display: block;
    clear: both;
    color: #1E88E5;
    opacity: 1;
    text-align: center;
}

.hello-sub-text {
  text-align: center;
}

.wide-section {
    width: 100%;
    max-width: 100%;
    position: relative;
    bottom: 0px;
}

.narrow-section {
    max-width: 120rem !important;
    width: calc(100% - 8rem) !important;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.has-text-align-center {
    text-align: center;
    color: #fff;
}

.bg-green {
    background-color: #43A047;
    padding: 1em;
}

.cover-color-overlay, .cover-color-overlay::before {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0,10,25,0.8);
}

.color-accent, .color-accent-hover:hover, .color-accent-hover:focus, :root .has-accent-color, .has-drop-cap:not(:focus)::first-letter, .wp-block-button.is-style-outline, a {
    color: #3274d6;
}

.opacity-80 {
    opacity: 0.7;
}

.opacity-100 {
    opacity: 1;
}

.overlay-div {
    position: absolute;
}

.post-content > p > img {
  max-width: 100%;
}
section.home {
  background:radial-gradient(circle,#c203c5 0%,#4e02a7 80%);
  color:#fff;

  .container {
    display: flex;
  }

  .screen-height {
    height: 100vh;
  }

  .screen-height-90 {
    height: 90vh;
  }

  .screen-height-85 {
    height: 85vh;
  }

  .screen-height-75 {
    height: 75vh;
  }

  .screen-height-25 {
    height: 25vh;
  }

  .screen-height-15 {
    height: 15vh;
  }

  .screen-height-10 {
    height: 10vh;
  }

  .h1 {
    font-size: 6rem;
    line-height: .9;
    color: white !important;
    margin-bottom: 40px;
  }

  h3 {
    color: white !important;
    font-weight: bold;
  }

  @media (max-width: 1024px) {
    .h1 {
      font-size: 3rem;
      line-height: 1;
    }

    h3 {
      font-size: 1.75rem;
      font-weight: normal;
    }
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .h1 {
      font-size: 2rem;
      line-height: 1;
    }

    h3 {
      font-size: 1.5rem;
    }
  }
}

section.openup {
  text-align: center;

  p {
    max-width: 700px;
    margin: 0 auto;
  }
}

.applications-section {
  line-height: 1.3;
  padding: 50px 0;

  h2 {
    margin-bottom: 50px;
  }

  .application-name {
    display: block;
    margin-top: 10px;
  }

  @media (max-width: 768px) {
    font-size: 15px;
    line-height: 1.1;
    padding: 20px 0;

    h2 {
      margin-bottom: 20px;
    }
  }
}

.features-section {
  margin-top: 100px;

  .feature {
    margin: 50px 0;
  }

  @media (max-width: 768px) {
    margin-top: 50px;

    .feature {
      margin: 25px 0;
    }
  }
}

.wayland {
  display: flex;
}

.opensource {
  display: flex;
}

.adapting {
  max-width: 300px;
  height: auto;
  display: block;

  @media (max-width: 768px) {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  @media (max-width: 300px) {
    max-width: 100%;
  }
}

body {
  background-color: white;
  @media (prefers-color-scheme: dark) {
    background-color: black;
  }
}

.app-announcement {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.app-announcement.right {
  flex-direction: row-reverse;
}

.app-announcement img {
  max-width: 100%;
  min-width: 300px;
  flex-basis: 42%;
  height: auto;
  align-self: flex-start;
}

.app-announcement div {
  flex-basis: 58%;
}

.app-announcement img.shadow-true {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.app-announcement h2 {
  margin-top: 0;
}
.app-announcement.left img {
  margin-right: 2rem;
}
.app-announcement.right img {
  margin-left: 2rem;
}

@media (max-width: 900px) {
  .app-announcement, .app-announcement.right {
    flex-direction: column-reverse;
  }
  .app-announcement img, .app-announcement.left img, .app-announcement.right img {
    margin-bottom: 2rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    min-width: initial;
    display: block;
  }
}
