{{ define "head-import" }}
{{ $style := resources.Get "scss/index.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}
{{ define "main" }}


<section class="home" style="background-image:url(/img/cover-image.jpg);background-size:cover;color:#fff">
    <div class="cover-color-overlay color-accent img-fluid mb-4">
        <div class="container align-items-center">
            <div class="align-items-center">
		<h1 class="h1 hello">
		<h2 class="h1 hello-sub-text mt-5 mt-md-0">{{ i18n "plasma-on-your-tv" }}</h2>
		<h3 class="h3 hello-sub-text mt-5 mt-md-0">{{ i18n "privacy" }}</h3>
		</h1>
		<a href="#openup">
		    <svg class="pointers">
			<path stroke-linecap="round" class="p1" fill="white" d="M0 0 L20 22 L40 0"></path>
		    </svg>
		</a>
            </div>
            <img src="/img/bigscreen-cover-transparent.png" class="img-fluid mb-4" style="width:500px">
        </div>
        <div class="wide-section has-text-align-center bg-green">
            <div class="narrow-section">
                <h3 class="h3 mt-5 mt-md-0">{{ i18n "secondary-header-line" }}</h2>
                <p>{{ i18n "project-based-on" }} <b>{{ i18n "key-tech-1"}}</b>, <b>{{ i18n "key-tech-2"}}</b>, <b>{{ i18n "key-tech-3"}}</b></p>
            </div>
        </div>
    </div>
</section>

<section class="openup" id="openup">
  <div class="container my-5">
    <img class="img-fluid mx-auto" src="/img/triangles.png" alt="triangles" width="224" height="128" />
    <h2 class="h1 mb-4">{{ i18n "openup" }}</h2>
    <p>{{ i18n "opensource-phone" }}</p>
    <p class="my-4">
    <a href="/get/" class="button">{{ i18n "install" }}</a>
    <a href="https://invent.kde.org/plasma-bigscreen" class="button">{{ i18n "contribute" }}</a>
    </p>
    <p>{{ i18n "qt-kf" }}</p>
    <div class="mt-5 mb-3 mx-auto" style="max-width: 900px">
      <img class="laptop img-fluid" src="/img/screenshot-1.png" alt="">
    </div>
  </div>
</section>

<section class="features-section">
  <div class="container">
    <div class="feature wayland flex-column flex-md-row">
      <div class="textwidget order-md-1">
        <h2>{{ i18n "kwin" }}</h2>
        <p>{{ i18n "wayland" }}</p>
      </div>
      <div>
        <img class="alignnone adapting me-0 me-md-5 my-4 my-md-0 order-md-0" src="/img/wayland.png" alt="wayland" width="600" height="500" />
      </div>
    </div>
    <hr />
    <div class="feature opensource flex-column flex-md-row">
      <div>
        <h2>{{ i18n "opensource" }}</h2>
        <p class="me-0 me-md-5">{{ i18n "parts" | markdownify }}</p>
        <ul>
          <li><a href="https://kde.org/products/frameworks/" target="_blank">KDE Frameworks</a></li>
          <li><a href="https://kde.org/products/kirigami/" target="_blank">Kirigami</a></li>
	  <li><a href="https://github.com/MycroftAI/" target="_blank">Mycroft AI</a></li>
	  <li><a href="http://libcec.pulse-eight.com/" target="_blank">CEC</a></li>
        </ul>
      </div>
      <div>
	<!-- Some TV image here -->
      </div>
    </div>
    <div class="feature mb-0 d-flex flex-md-row flex-column">
      <div class="order-md-1">
        <h2>{{ i18n "adapting" }}</h2>
        <p>{{ i18n "based" }}
      </div>
      <div>
	<!-- Some TV image here -->
      </div>
    </div>
  </div>
</section>
{{ end }}
